/.metadata/
aiss-project-template-master/.classpath
aiss-project-template-master/.settings/org.eclipse.core.resources.prefs
aiss-project-template-master/.settings/org.eclipse.jdt.core.prefs
aiss-project-template-master/.settings/org.eclipse.jpt.core.prefs
aiss-project-template-master/.settings/org.eclipse.m2e.core.prefs
aiss-project-template-master/.settings/org.eclipse.m2e.wtp.prefs
aiss-project-template-master/.settings/org.eclipse.wst.common.component
aiss-project-template-master/.settings/org.eclipse.jdt.apt.core.prefs
aiss-project-template-master/.factorypath
